.container {
  height: 100vh;
  background: url('../../assets/heroImage.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  background-blend-mode: darken;
}
